* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  line-height: 1.6;
  font-size: 1rem;
}

header {
  background-image: url("/images/portfolio-background.jpg");
  background-size: 120%;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 7%;
}
header h1 {
  color: #FFF2F2;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Bebas Neue", sans-serif;
}

#about {
  background-color: #f5f5f5;
  padding: 50px 20px;
}
#about h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #2D336B;
  font-family: "Bebas Neue", sans-serif;
}
#about p {
  font-family: "Playfair", serif;
  font-size: 30px;
  line-height: 1.6;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  color: #34495e;
}

#experience {
  padding: 50px 20px;
}
#experience h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #2D336B;
  font-family: "Bebas Neue", sans-serif;
}
#experience p {
  font-family: "Playfair", serif;
  font-size: 30px;
  line-height: 1.6;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  color: #34495e;
  margin-bottom: 20px;
}

#work h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #2D336B;
  margin-bottom: 20px;
}
#work .projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#work .projects-container .project-card {
  background: #A9B5DF;
  padding: 70px;
  border-radius: 7px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}
#work .projects-container .project-card h4 {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 40px;
  color: #f0e5e5;
  letter-spacing: 2px;
}
#work .projects-container .project-card p {
  font-size: 20px;
  color: #000000;
  font-family: "Playfair", serif;
}
#work .projects-container .project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #2D336B;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
#work .projects-container .project-card a:hover {
  background: #5467bd;
}
#work .projects-container .project-card:hover {
  transform: translateY(-5px);
}

#contact {
  padding: 50px 20px;
}
#contact h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #2D336B;
  font-family: "Bebas Neue", sans-serif;
}
#contact p {
  font-family: "Playfair", serif;
  font-size: 30px;
  line-height: 1.6;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  color: #34495e;
  margin-bottom: 20px;
}
#contact form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #A9B5DF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#contact form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  color: #34495e;
}
#contact form input, #contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
#contact form textarea {
  resize: vertical;
  min-height: 150px;
}
#contact form button {
  display: inline-block;
  background-color: #2D336B;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.125rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
#contact form button:hover {
  background: #5467bd;
}/*# sourceMappingURL=style.css.map */